*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: MuseoModerno;
    overflow-x: hidden;
}
:root{
    color-scheme: light dark;
}
body{
    background: light-dark(white gray);

    color: light-dark(black, white);
}
body::-webkit-scrollbar{
   display: none;
   width: 0;
}
header{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: light-dark(white, black);
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    color: light-dark(black, white);
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    font-size: 25px;
   overflow: hidden;
}
.logo{
    position: absolute;
    left: 2em;
}
.logo{
    display: flex;
}

header img{
    height: 2em;
    left: 10px;
    font-size: 35px;
    position: relative;
}
.logo h2{
    font-family: MuseoModerno;
    font-weight: bolder;
   margin-top: 5px;
    
}
.logo span{
    color: #deaa1c;
}
.mainPage-navBar{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.mainPage-navBar ul{
    display: flex;
    gap: 2em;
}
.mainPage-navBar ul ion-icon:hover{
    color: #deaa1c;
    
}
.mainPage-navBar ul li{
    text-decoration: none;
    list-style: none;
    color: light-dark(black, white);
    cursor: pointer;
}
.mainPage-navBar ul li{
    position: relative;
}
ion-icon{
    cursor: pointer;
}
.mainPage-navBar ul li::after{
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    background: #deaa1c;
    bottom: 0;
    left: 0;
    transition: width 0.9s;
}
.mainPage-navBar ul li:hover::after{
    width: 100%;
}
.mainPage-navBar ul li:hover{
    color: #deaa1c;
}
.nav-icons{
    color: light-dark(black, white);
}
#pageLoaded{
  height: 100dvh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}


iframe::--webkit-scrollbar{
    display: none;
}
/*Home CSS*/
.hero{
    height: 85vh;
    background: url(image/heroBg.png) center;
    background-size: cover;
    text-align: center;
    width: 100%;
    text-shadow: yellow 20px;
    overflow: hidden;
    position: relative;
    justify-content: center;
}
.hero-text{
    position: absolute;
    bottom: 1em;
    font-size: 35px;
    text-shadow: 1px 1px  rgba(0,0,0,0.7); 
    font-family: MuseoModerno;
    left:5%;
    color: white;
    
}
.hero-text h1{
 color: light-dark(black, white);
}
.hero-text span{
    color: #deaa1c;
}
.products{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
   padding: 2em;
   background:transparent;
}
.items img{
    height: 20em;
 
}
.items{
    display: block;
    overflow: hidden;
    height: 27em;
    width: 20em;
    font-family: MuseoModerno;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(117, 117, 117, 0.7);
    background: light-dark(white, black);
    border: 1px solid #deaa1c;
}
.items:hover{
    transform: scale(1.1);
    transition: transform 0.9s;
    
}
.items:not(:hover){
    filter: brightness(0.90);
}
.items h4{
   position: absolute;
   bottom: 3.5em;
   font-size: 16px;
   left: 1em;
}
.items button{
    position: absolute;
    bottom: 10px;
    right: 1em;
    color: light-dark(black,white);

    border-radius: 60px;
    border: none;
    font-size: 30px;
    background: light-dark(black, white);
    font-weight: bolder;
    background: none;
    cursor: pointer;
}
.items button:focus{
     color: red;
}
.items img{
    background: white;
}
.brandsHeading{ 
    padding: 1em;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: light-dark(black, white);
    
}
.apple-section{
  display: block;
  gap: 1em;
}
.productsNav-Bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 5px;
    padding-top: 10px;
    background: transparent;
    position: sticky;
}
.productsNav-Bar ul{
    display: flex;
    gap: 10em;
}
.productsNav-Bar ul li a{
    transition: 0.9s ease;
}
.productsNav-Bar ul li a:hover{
    color: #deaa1c;
}
.productsNav-Bar ul li a, li{
    text-decoration: none;
    list-style: none;
    color: light-dark(black, white);
    font-size: 20px;
}

.cartItems{
    display: flex;
}
.cartItems img{
    height: 10em;
}
#closeCartBtn{
    cursor: pointer;
}
.deleted-icon{
    background: orange;
    position: absolute;
    padding: 1px;
    height: 100%;
    align-items: center;
    justify-content: center;
    width:3em;
    right: 2em;
    border: none;
    font-size: 2em;
}
.cartItems{
    position: relative;
    overflow: hidden;
    margin-top: 1em;
}  
.cartProducts{
    gap:2em;
    position: relative;
    display: block;
}
#homePageBody{
  background: light-dark(white, black);
  overflow: hidden;
  padding-left: 3em;
  padding-right: 3em;
}
.products-hero-section{
    width: 100%;
    height: 50em;
    
}
/*About  CSS*/
/*Contact CSS*/
/*Login CSS*/
/*Cart CSS*/
